<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
      <form class="form-group" method="POST" action="/lists/<%= list.id %>">
        <input type="hidden" name="_method" value="PUT">
        <div>
          <h4 class="card-header" for="name">Name: </h4>
          <br>
          <input class="form-control" type="text" name="name" id="name" value="<%= list.name %>">
        </div>
        <br>
        <a href="/lists" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> to lists</a>
        <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> rename list</button>
      </form>
      <form class="form-group" method="POST" action="/lists/<%= list.id %>">
        <input class="btn btn-primary" type="hidden" name="_method" value="DELETE">
        <button class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i> delete list</button>
      </form>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
