<div class="container">
  <div class="row">
    <div class="col-md-4"
    <div class="card" style="width: 18rem;">
      <% lists.forEach((list) => { %>

        <h3 class="card-header"><%= list.name %></h3>
        <div class="card-body">
        <p class="card-text">Gift: <%= list.gifts %></p>
        </div>
        <div class="card-body">
        <a href="/lists/<%= list.id %>" class="btn btn-primary">Show list</a>
        <a href="/gifts/new" class="btn btn-primary">Add gift</a>
        </div>
        <% }); %>
        <form class="form-group" method="POST" action="/lists">
          <div>
            <h1>Make a new list</h1>
            <label for="name">name of list</label>
            <input class="form-control" type="text" name="name" id="name">
          </div>
            <button class="btn btn-primary">Create</button>
          </form>
      </div>
    </div>
  </div>
</div>
