<h1>Add a new list</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form class="form-group" method="POST" action="/lists">
        <div>
          <label for="country">Country</label>
          <input class="form-control" type="text" name="country" id="country">
        </div>
        <div>
          <label for="adopted">Year adopted</label>
          <input class="form-control" type="text" name="adopted" id="adopted">
        </div>
        <div>
          <label for="image">Link to image</label>
          <input type="text" class="form-control" placeholder="enter image link" name="image" id="image">
        </div>
        <div>
          <label for="listNote">Flag fact</label>
          <input class="form-control" type="text" name="listNote" id="listNote">
        </div>
        <div>
          <label for="countryNote">Historical note</label>
          <input class="form-control" type="text" name="countryNote" id="countryNote">
        </div>
        <div>
          <button class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
