

a {
  font-family: $font;
}

h1, h2, h3, h4, h5  {
  font-family: $font;
}

h1 {
  font-family: $font;
}

p {
  font-family: $font;
}

input {
  font-family: $font;
}

label {
  font-family: $font;
}

textarea {
  font-family: $font;
}

.form-control {
  font-family: $font;
}

.card-body {
  font-family: $font;
}
.card-header {
  font-family: $font;
}
