// color variables
$primary-background-color: #FAFAFA;
$section-border-top-color: #F5F5F5;

$default-text-color: #333;
$important-text-color: #FFF;

$form-input-color: #FBFBFB;
$form-input-border-color: #CCC;

// font variables
$font: 'Kavivanar';
$color: 'lightslategrey'
$bold-font: 700;
$medium-font: 400;
$small-font: 400;

// box-model variables
$max-content-width: 1200px;
$universal-border-radius: 3px;
$section-border-top-size: 5px;
