<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Gift List</title>
  <% include ./partials/_stylesheets.ejs %>
  <% include ./partials/_scripts.ejs %>
</head>
  <body>
    <% include ./partials/_navbar.ejs %>
    <main class="container">
      <% if (messages) { %>
        <div>
          <% for (const type in messages) { %>
            <p class="alert alert-<%= type %>"><%= messages[type] %></p>
          <% } %>
        </div>
      <% } %>
      <%- body %>
    </main>
  </body>
</html>
