


<div class="container">
  <div class="row">
  <% users.forEach(user => { %>
  <div class="col-3 ">
  <div class="card">
  <h3 class="card-header"><i class="fa fa-user" aria-hidden="true"></i> <%= user.username %></h3>
  <button class="btn btn-outline-primary"><a class="card-body" href="/users/<%= user.id %>"><i class="fa fa-eye" aria-hidden="true"></i> See their list</a></button>

</div>
</div>
<% }) %>
</div>
</div>
