@import 'views/lists/index';
@import 'views/lists/show';
@import 'partials/typography';
@import 'helpers/variables';



}
.card {
  margin-top: 30px;
  margin-bottom: 30px
}

.btn {
  &.btn-primary {
    margin: 10px;
    font-family: 'Helvetica';
  }
  &.btn-outline-primary {
    font-family: 'Helvetica'; 
  }
}

.layout-header {
  height: 350px;
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  background: linear-gradient(to right, #2c3e50, #2980b9);
  color: white;
}

.form-group {
  font-family: $font;
  &.beta {
    margin-top: 20px;
  }
}

.jumbo-text {
  text-align: center;
}

.login {
  font-family: $font;
}
