@import 'views/lists/index';
@import 'views/lists/show';



h1 {
  text-align: center;
}
.card {
  margin-top: 30px;
  margin-bottom: 30px
}

.btn {
  &.btn-primary {
    margin: 10px;

  }
}

.layout-header {
  height: 400px;
  background-image: url('../images/img-gift.jpg');
  background-position: center;
  background-size: 1225 px 400px;
  color: white;
}
