<div class="container">
  <div class="row">
    <div class="col-md-4"
    <div class="card" style="width: 18rem;">
      <% gifts.forEach((gift) => { %>

        <h3 class="card-header"><%= gift.name %></h3>
        <div class="card-body">
        <p class="card-text"><%= list.gifts %></p>
        </div>
        <div class="card-body">
        <a href="/lists/<%= list.id %>" class="btn btn-primary">Show list</a>
        <a href="/lists/new" class="btn btn-primary">Add gift</a>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
