<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
      <form class="form-group" method="POST" action="/lists/<%= list.id %>/gifts">
        <div>
          <h3 class="card-header"><b>add a gift</b></h3>
        </div>
        <div>
          <br>
          <label for="name" type="text" name="name" id="age"><b>For: </b></label>
          <input class="form-control" type="text" name="age" id="name">
        <div>
          <br>
          <label for="age" type="text" name="age" id="age"><b>Age: </b></label>
          <input class="form-control" type="text" name="age" id="age">
        </div>
        <div>
          <br>
          <label for="interests" type="text" name="interests" id="interets"><b>Interests: </b></label>
          <input class="form-control" type="text" name="interests" id="interests">
        </div>
        <div>
          <br>
          <label for="budget" type="text" name="budget" id="budget"><b>Budget: </b></label>
          <input class="form-control" type="text" name="budget" id="budget">
        </div>
        <div>
          <br>
          <label for="ideas" type="text" name="ideas" id="ideas"><b>Ideas: </b></label>
          <input class="form-control" type="text" name="ideas" id="ideas">
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-success"><i class="fa fa-plus" aria-hidden="true"></i> gift</button>
          <a href="/lists" class="btn btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> lists</a>
        </form>
        </div>
      </div>
      </div>
    </div>
  </div>
