<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
      <form class="form-group" method="POST" action="/lists/<%= list.id %>/gifts">
        <div>
          <h4 class="card-header" for="name"><b>For: </b></h4>
          <input class="form-control" type="text" name="name" id="name">
        </div>
        <div>
          <br>
          <label for="age"><b>Age: </b></label>
          <input class="form-control" type="text" name="age" id="age">
        </div>
        <div>
          <br>
          <label for="interests"><b>Interests: </b></label>
          <input class="form-control" type="text" name="interests" id="interests">
        </div>
        <div>
          <br>
          <label for="budget"><b>Budget: </b></label>
          <input class="form-control" type="text" name="budget" id="budget">
        </div>
        <div>
          <br>
          <label for="ideas"><b>Ideas: </b></label>
          <input class="form-control" type="text" name="ideas" id="ideas">
        </div>
          <button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> gift</button>
          <a href="/lists" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> lists</a>

        </form>
      </div>
      </div>
    </div>
  </div>
